.social-media{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.social-media a{
    padding: 10px;
}
.movie-card{
    height: auto;
    width: 100%;
    padding: 20px 20px;
}
.movie-card .row .card{
margin: 10px;
}
.ftco-footer{
    background-color: #e0e0e0;
    width: 100%;
}